.product-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--gray_dark);

  &__image {
    position: relative;
    height: 375px;
    width: 100%;
    border: 1px solid lightgray;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
  }

  &__article-number {
    color: #999999;
    margin-top: auto;
    margin-bottom: 10px;
    font-weight: 400;

    button {
      color: #999999;
      padding: 0;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      &:hover {
        color: #828282;
      }
    }
  }

  &__price {
    font-size: 2rem;
    font-weight: 500;
  }
}