@import "@breakpoint";

.catalog-container {
  display: grid;
  position: relative;
  column-gap: 20px;

  grid-template-columns: 1fr;

  @include breakpoint($b-tablet) {
    grid-template-columns: 1fr 2fr;
  }

  @include breakpoint($b-laptop) {
    grid-template-columns: 1fr 3fr;
  }
}

.category-product-list {
  width: 100%;
  @include breakpoint($b-tablet) {
    position: sticky;
    top: 20px;
    height: max-content;
  }
}

.catalog-product-list {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: 1fr;

  @include breakpoint($b-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint($b-laptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
