@import "@breakpoint";

.price {
  color: var(--yellow);
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.product-ident {
  display: grid;
  color: #999;

  row-gap: 5px;

  @include breakpoint($b-tablet) {
    display: flex;
    align-items: center;
  }

  &__articul {
    margin-right: 15px;
  }
}

.add-basket {
  margin: 20px 0;

  .social-list {
    list-style-type: none;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 50px);
  }

  &__title {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .buy-btn {
    height: 50px;
    width: 100%;
  }
}