@import "@breakpoint";

.search-input-container {
  display: flex;
  align-items: center;
  background-color: var(--gray_light);
  padding: 16px 10px;
  width: 100%;
  box-sizing: border-box;

  &::after {
    --size: 18px;
    content: "";
    display: block;
    z-index: 3;
    right: 0;
    top: 0;

    width: var(--size);
    height: var(--size);
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.0392 15.6244C18.2714 14.084 19.0082 12.1301 19.0082 10.0041C19.0082 5.03127 14.9769 1 10.0041 1C5.03127 1 1 5.03127 1 10.0041C1 14.9769 5.03127 19.0082 10.0041 19.0082C12.1301 19.0082 14.084 18.2714 15.6244 17.0392L21.2921 22.707C21.6828 23.0977 22.3163 23.0977 22.707 22.707C23.0977 22.3163 23.0977 21.6828 22.707 21.2921L17.0392 15.6244ZM10.0041 17.0173C6.1308 17.0173 2.99087 13.8774 2.99087 10.0041C2.99087 6.1308 6.1308 2.99087 10.0041 2.99087C13.8774 2.99087 17.0173 6.1308 17.0173 10.0041C17.0173 13.8774 13.8774 17.0173 10.0041 17.0173Z' fill='white'/%3E%3C/svg%3E");
    background-size: cover;

    @include breakpoint($b-laptop) {
      --size: 22px;
    }
  }
}

.search-field {
  font-size: 1rem;
  border: 0;
  width: 100%;
  background-color: transparent;
  caret-color: var(--yellow);
  color: white;

  &::placeholder {
    color: #dcdcdc;
  }

  @include breakpoint($b-desktop) {
    font-size: 1rem;
  }
}
