@import "@breakpoint";

.link-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.mobile-menu {
  @include breakpoint($b-tablet) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__menu {
    background-color: var(--gray_dark);
    position: absolute;
    margin-top: 94px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 94px);
    height: calc(100dvh - 94px);
    transform: translateY(-150%);
    transition: transform 0.3s;
    list-style-type: none;
    z-index: -1;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 22px;

    ul {
      list-style: none;

      li {
        padding: 3px 0;
      }
    }

    @include breakpoint($b-tablet) {
      flex-direction: row;
      height: 70px;
      border-top: 2px solid var(--yellow);
      transform: translateY(-300%);
      padding: 0;

      ul {
        width: 100%;
        display: flex;
        padding: 0 10px;

        li {
          margin: 0 10px;
        }
      }
    }

    &.open {
      transform: translateY(0%);
    }
  }

  &__contact {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
  }

  &__phone-container {
    display: flex;
    color: var(--yellow);
    font-size: 1.25rem;
  }

  &__phone {
    color: var(--yellow);
    margin-left: 10px;
  }

  .search-input {
    margin-bottom: 22px;
  }

  .search-input-tablet {
    max-width: 350px;
    width: 100%;
    margin-left: 20px;
  }
}